# https://flake8.pycqa.org/en/latest/user/configuration.html
# List of Flake8 options
# https://flake8.pycqa.org/en/4.0.1/user/options.html
# Flake error codes
# https://flake8.pycqa.org/en/latest/user/error-codes.html
# PEP warning codes
# https://pep8.readthedocs.io/en/latest/intro.html#error-codes
[flake8]
    extend-ignore = E203, E266, E501, W503, F403
    max-line-length = 88
    max-complexity = 18
    select = B,C,E,F,W,T4,B9
    exclude =
        .git,
        __pycache__,
        .pytest_cache,
        .venv,
        migrations
