# Cache folders
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Databases (PostgreSQL and SQLite)
hyperion-db/
*.db

# Persistent data as files
data/

# Configuration and secrets files
.env
config.yaml
firebase.json

# macOS
.DS_Store

# Virtual environment
.venv/

# Logs
logs/

# Pytest-cov
.coverage

# Jinja output templates and test output
tests/jinja_test_outputs/
node_modules/

# Local testing
scripts/
