services:
  hyperion-db:
    image: postgres
    container_name: hyperion-db
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      PGTZ: ${POSTGRES_TZ}
    volumes:
      - ./hyperion_db_data:/var/lib/postgresql/data:Z

  hyperion-redis:
    image: redis
    container_name: hyperion-redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}

  hyperion-app:
    image: hyperion-app
    container_name: hyperion-app
    restart: unless-stopped
    depends_on:
      hyperion-db:
        condition: service_healthy
      hyperion-redis:
        condition: service_started
    ports:
      - 8000:8000
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs:Z
      - ./data:/app/data:Z
      - ./config.yaml:/app/config.yaml:Z
      - ./firebase.json:/app/firebase.json:Z
