[tool.black]
line-length = 88
target-version = ['py310']
extend-exclude = '''
/(
    \.git
  | \__pycache__
  | \.pytest_cache
  | \.venv
  | \migrations
)/
'''

[tool.isort]
profile = "black"
py_version=310
skip_glob = ["migrations/*"]