aiofiles==23.2.1                    # Asynchronous file manipulation
alembic==1.13.1                     # database migrations
asyncpg==0.29.0                     # PostgreSQL adapter for asynchronous operations
bcrypt==4.1.2                       # password hashing
fastapi==0.110.3
firebase-admin==6.4.0               # Firebase is used for push notification
icalendar==5.0.11
Jinja2==3.1.3                       # template engine for html files
pydantic-settings==2.2.1
pydantic==2.5.0
PyMuPDF==1.24.2                     # PDF processing
python-dotenv==1.0.1                # load environment variables from .env file
python-jose[cryptography]==3.3.0    # generate and verify the JWT tokens
python-multipart==0.0.9             # a form data parser, as oauth flow requires form-data parameters
rapidfuzz==3.8.1                    # Fuzzy String Matching
redis==5.0.4
requests==2.31.0
SQLAlchemy[asyncio]==2.0.23         # [asyncio] allows greenlet to be installed on Apple M1 devices. The my[py] plugin is required in devellopment but Dependabot fails to manage two versions of the same module.
unidecode==1.3.8
uvicorn[standard]==0.23.2