-r requirements-common.txt
aiosqlite==0.20.0
boto3-stubs[essential]==1.38.23
google-auth-stubs==0.3.0
httpx==0.27.0                       # needed for tests as a replacement of requests in TestClient
mypy[faster-cache]==1.16.0
pytest-alembic==0.12.1
pytest-asyncio==0.26.0
pytest-cov==6.1.1
pytest-mock==3.14.1
pytest==8.3.5
ruff==0.11.8
types-aiofiles==24.1.0.20250516
types-Authlib==1.5.0.20250516
types-fpdf2==2.8.3.20250516
types-psutil==7.0.0.20250601
types-redis==4.6.0.20241004
types-requests==2.32.0.20250515
