alembic==1.13.1                      # database migrations
fastapi==0.109.1
Jinja2==3.1.3                       # template engine for html files
bcrypt==4.0.1                       # password hashing
pydantic-settings==2.2.1
pydantic==2.5.0
python-dotenv==1.0.0               # load environment variables from .env file
python-jose[cryptography]==3.3.0    # generate and verify the JWT tokens
python-multipart==0.0.9             # a form data parser, as oauth flow requires form-data parameters
SQLAlchemy[asyncio]==2.0.23   # [asyncio] allows greenlet to be installed on Apple M1 devices. The my[py] plugin is required in devellopment but Dependabot fails to manage two versions of the same module.
rapidfuzz==3.6.1                         # Fuzzy String Matching
requests==2.31.0
unidecode==1.3.8
uvicorn[standard]==0.23.2
redis==5.0.1
icalendar == 5.0.11
psycopg2==2.9.9                     # PostgreSQL adapter for synchronous operations at startup (database initializations & migrations)
asyncpg==0.28.0                     # PostgreSQL adapter for asynchronous operations
firebase-admin==6.2.0               # Firebase is used for push notification
