-r requirements-common.txt
psycopg[c]==3.2.4                  # PostgreSQL adapter for synchronous operations at startup (database initializations & migrations), local installation is recommended for a production site