{% extends "base_mail.html" %}

{% block title %}MyECL - Your account already exists!{% endblock %} 

{% block french_message %} 
    <h1>Ton compte MyECL existe déjà !</h1>
    <p>
        Tu as demandé à créer un compte, mais ton adresse mail est déjà associée à un compte existant. 
        Si tu as oublié ton mot de passe, tu peux utiliser le réinitialiser en cliquant sur le lien suivant :
        <a href="https://myecl.fr/forgot_password">https://myecl.fr/forgot_password</a>
    </p>
    <p>Si tu n'es pas à l'origine de cette demande, c'est qu'un bon fyot a tenté de s'inscrire avec ton adresse mail... Bref tu peux ignorer ce message.</p>
{% endblock %} 

{% block english_message %} 
    <h1>Your MyECL account already exists!</h1>
    <p>
        You've asked to create an account, but your e-mail address is already linked to an existing account. 
        If you have forgotten your password, you can reset it by clicking on the following link: 
        <a href="https://myecl.fr/forgot_password">https://myecl.fr/forgot_password</a>
    </p>
    <p>If you have not initiated this request, it likely means that some fool tried to sign up using your e-mail address... You can safely ignore this message.</p>
{% endblock %}
