{% extends "base_mail.html" %}

{% block title %}MyECL - Your account already exists!{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Ton compte MyECL existe déjà !</h1>
    <p lang="fr">
        Tu as demandé à créer un compte, mais ton adresse mail est déjà associée à un compte existant. Si tu as oublié ton mot de passe, tu peux utiliser la fonctionnalité de
        <a href="https://myecl.fr/forgot_password">mot de passe oublié</a>.
    </p>
    <p lang="fr">Si tu n'es pas à l'origine de cette demande, c'est qu'un bon fyot a tenté de s'inscrire avec ton adresse mail... Bref tu peux ignorer ce message.</p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Your MyECL account already exists!</h1>
    <p lang="en">
        You've asked to create an account, but your e-mail address is already linked to an existing account. If you've forgotten your password, you can use the
        <a href="https://myecl.fr/forgot_password">forgotten password</a> feature.
    </p>
    <p lang="en">If you are not behind this request, it likely means that a fool has tried to sign up using your e-mail address... In short, you can ignore this message.</p>
{% endblock %}
