{% extends "base_mail.html" %}

{% block title %}MyECL - Activate your account{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Bienvenue sur MyECL !</h1>
    <p lang="fr">Pour continuer ton inscription, tu peux utiliser ce
        <a href="{{ calypsso_activate_url }}">lien unique</a>.
    </p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Welcome on MyECL!</h1>
    <p lang="en">
        To pursue your registration, you can use this
        <a href="{{ calypsso_activate_url }}">unique link</a>.
    </p>
{% endblock %}
