{% extends "base_mail.html" %}

{% block title %}MyECL - Activate your account{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Bienvenue sur MyECL !</h1>
    <p lang="fr">Pour continuer ton inscription, clique sur le lien unique suivant : 
    <a href="{{ calypsso_activate_url }}">{{ calypsso_activate_url }}</a>
    </p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Welcome to MyECL !</h1>
    <p lang="en">
        To complete your registration, click on the following one-time link :
    <a href="{{ calypsso_activate_url }}">{{ calypsso_activate_url }}</a>
    </p>
{% endblock %}
