{% extends "base_mail.html" %}

{% block title %}MyECL - Already used email address{% endblock %} 

{% block french_message %} 
    <h1>Problème lors du changement d'adresse mail MyECL</h1>
    <p>L'adresse mail que tu as renseignée est déjà associée à un autre compte MyECL existant, rapproche-toi d'un Eclairman pour résoudre le problème.</p>
{% endblock %} 

{% block english_message %} 
    <h1>Difficulties changing your MyECL e-mail address</h1>
    <p>Oops ! The email address you provided is already associated with another existing MyECL account. Please contact a member of Eclair to resolve this issue.</p>
{% endblock %}
