{% extends "base_mail.html" %}

{% block title %}MyECL - Already used email address{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Changement d'adresse mail MyECL</h1>
    <p lang="fr">Tu as demandé à modifier l'adresse mail de ton compte MyECL, mais celle-ci est déjà associée à un autre compte MyECL existant.</p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Changing your MyECL e-mail address</h1>
    <p lang="en">You've asked to change the e-mail address of your MyECL account, but it's already linked to another existing MyECL account.</p>
{% endblock %}
