{% extends "base_mail.html" %} 

{% block title %}MyECL - Confirm your new email address{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Changement d'adresse mail MyECL</h1>
    <p lang="fr">
        Pour confirmer ta nouvelle adresse mail, tu peux utiliser ce
        <a href="{{ migration_link }}">lien unique</a>.
    </p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Changing your MyECL e-mail address</h1>
    <p lang="en">
        To check your new e-mail address, you can use this
        <a href="{{ migration_link }}">unique link</a>.
    </p>
{% endblock %}
