{% extends "base_mail.html" %}

{% block title %}MyECL - You signed the Terms of Service for MyECLPay {% endblock %}

{% block french_message %}
<h1> Vous avez signé les Conditions Générales d'Utilisation de MyECLPay</h1>
<p>
    Vous avez signé les Conditions Générales d'Utilisation de MyECLPay.
    Vous pouvez les consulter à tout moment en cliquant sur ce
    <a href="https://myecl.fr/myeclpay/tos">lien</a>.

    <br><br>

    Si vous n'êtes pas à l'origine de cette action, changez immédiatement votre mot de passe, votre compte a pu être
    compromis.

</p>
{% endblock %}

{% block english_message %}
<h1> You signed the Terms of Service for MyECLPay</h1>
<p>
    You signed the Terms of Service for MyECLPay.
    You can consult them at any time by clicking on this
    <a href="https://myecl.fr/myeclpay/tos">link</a>.

    <br><br>

    If you did not initiate this action, change your password immediately, your account may have been compromised.
</p>
{% endblock %}