{% extends "base_mail.html" %} 

{% block title %}MyECL - Reset your password{% endblock %} 

{% block french_message %}
<h1 lang="fr">Réinitialisation de ton mot de passe MyECL impossible</h1>
<p lang="fr">
  Il n'y as pas encore de compte MyECL associée à cette adresse email. Tu peux
  en créer un en utilisant ce lien :
  <a href="{{ calypsso_register_url }}"> {{ calypsso_register_url }} </a>.
</p>
{% endblock %}

{% block english_message %}
<h1 lang="en">Could not reset your MyECL password</h1>
<p lang="en">
  There is no MyECL account associated with this email address. You can create
  one using this link :
  <a href="{{ calypsso_register_url }}"> {{ calypsso_register_url }} </a>.
</p>
{% endblock %}
