{% extends "base_mail.html" %}

{% block title %}MyECL - Reset your password{% endblock %} 

{% block french_message %} 
    <h1 lang="fr">Réinitialisation de ton mot de passe MyECL</h1>
    <p lang="fr">
        Pour réinitialiser ton mot de passe, tu peux utiliser ce
        <a href="{{ calypsso_reset_url }}">lien unique</a>.
    </p>
{% endblock %} 

{% block english_message %} 
    <h1 lang="en">Reset your MyECL password</h1>
    <p lang="en">
        To reset your password, you can use this
        <a href="{{ calypsso_reset_url }}">unique link</a>.
    </p>
{% endblock %}
