{% extends "base_mail.html" %}

{% block title %}MyECL - Confirm the structure manager transfer{% endblock %}

{% block french_message %}
<h1>Confirmation du transfer du gestionnaire de structure</h1>
<p>
    Pour confirmer le transfer du gestionnaire de structure, vous pouvez utiliser ce
    <a href="{{ migration_link }}">lien unique</a>, ce lien est valable 20 minutes.
</p>
{% endblock %}

{% block english_message %}
<h1>Confirm the structure manager transfer</h1>
<p>
    To confirm the structure manager transfer, you can use this
    <a href="{{ migration_link }}">unique link</a>, this link is valid for 20 minutes.
</p>
{% endblock %}