name: Build and Publish Alpha

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy-alpha:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: "main"

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ secrets.DOCKER_REGISTRY_IDENTIFER }}/hyperion
          tags: |
            type=raw,value=alpha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ secrets.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Build and push alpha image
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          platforms: linux/amd64 #,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: |
            type=registry,ref=${{ secrets.DOCKER_REGISTRY_IDENTIFER }}/hyperion:alpha
            type=registry,ref=${{ secrets.DOCKER_REGISTRY_IDENTIFER }}/hyperion:latest
          cache-to: type=inline
