name: Lint and format
# https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-nodejs-or-python?langId=py#requirements-file

on:
  pull_request:
    types: [opened, edited, ready_for_review, synchronize]

jobs:
  lintandformat:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      # Configure a constant location for the uv cache
      UV_CACHE_DIR: ~/.cache/uv

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version-file: .python-version

      - name: Cache uv folder
        id: cache-uv
        uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-uv-${{ hashFiles('uv.lock') }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.27"

      - name: Install dependencies
        run: uv sync --locked

      - name: Cache .ruff_cache folder
        id: ruff_cache
        uses: actions/cache@v4.3.0
        with:
          path: .ruff_cache
          key: ruff_cache-${{ github.head_ref }}

      - name: Lint and check formating with ruff
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check

      - name: Cache .mypy_cache folder
        id: mypy_cache
        uses: actions/cache@v4.3.0
        with:
          path: .mypy_cache
          key: mypy_cache-${{ github.head_ref }}

      - name: Type checking using mypy
        run: uv run mypy .

      - name: Minimize uv cache
        run: uv cache prune --ci
