name: Lint and format
# https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-nodejs-or-python?langId=py#requirements-file

on:
  pull_request:
    types: [opened, edited, ready_for_review, synchronize]

jobs:
  lintandformat:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: "3.11"

      - name: Cache uv folder
        id: cache-uv
        uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-uv-${{ hashFiles('requirements-common.txt', 'requirements-dev.txt') }}

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: uv pip install --system -r requirements-dev.txt

      - name: Cache .ruff_cache folder
        id: ruff_cache
        uses: actions/cache@v4.3.0
        with:
          path: .ruff_cache
          key: ruff_cache-${{ github.head_ref }}

      - name: Lint and check formating with ruff
        run: |
          ruff check --output-format=github
          ruff format --check

      - name: Cache .mypy_cache folder
        id: mypy_cache
        uses: actions/cache@v4.3.0
        with:
          path: .mypy_cache
          key: mypy_cache-${{ github.head_ref }}

      - name: Type checking using mypy
        run: mypy .
