name: Lint and format
# https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-nodejs-or-python?langId=py#requirements-file

on:
  pull_request:
    types: [opened, edited, ready_for_review, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
          pip install "fastapi[all]"

      - name: Cache .ruff_cache folder
        id: ruff_cache
        uses: actions/cache@v4
        with:
          path: .ruff_cache
          key: ruff_cache-${{ github.head_ref }}

      - name: Lint and check formating with ruff
        run: |
          ruff check --output-format=github
          ruff format --check

      - name: Cache .mypy_cache folder
        id: mypy_cache
        uses: actions/cache@v4
        with:
          path: .mypy_cache
          key: mypy_cache-${{ github.head_ref }}

      - name: Type checking using mypy
        run: mypy .
