name: Test
# https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-nodejs-or-python?langId=py#requirements-file

on:
  pull_request:
    types: [opened, ready_for_review, synchronize]
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      # Configure a constant location for the uv cache
      UV_CACHE_DIR: ~/.cache/uv

    # Add a Redis container
    # https://docs.github.com/en/actions/using-containerized-services/creating-redis-service-containers#running-jobs-directly-on-the-runner-machine
    # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
      postgres:
        # Docker Hub image
        image: "postgres:15.1"
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: "somerealpassword"
          POSTGRES_USER: "hyperion"
          POSTGRES_DB: "hyperion"
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Fetch full main branch history # We don't known the the base commit of the PR
        run: git fetch origin main --unshallow

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version-file: .python-version

      - name: Cache uv folder
        id: cache-uv
        uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-python-${{ steps.setup-python.outputs.python-version }}-uv-${{ hashFiles('uv.lock') }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.27"

      - name: Install dependencies
        run: uv sync --locked

      - name: Cache .pytest_cache folder
        id: pytest_cache
        uses: actions/cache@v4.3.0
        with:
          path: .pytest_cache
          key: pytest_cache-${{ github.head_ref }}

      # Run unit tests, run them all when push to main branch
      - name: Run all unit tests
        run: uv run tests_script.py --cov --all
        if: github.event_name == 'push'

      - name: Run unit tests for changed files
        run: uv run tests_script.py --cov
        if: github.event_name == 'pull_request'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Minimize uv cache
        run: uv cache prune --ci
